# Pandas Practice

In [8]:
import pandas as pd

In [28]:
df = pd.read_csv("weather_data.csv")
df.head() # print initial rows

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [29]:
df.head(5) # print 5 rows

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [26]:
df.tail() # print end few rows

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [30]:
df.tail(4) # print 4 rows

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [32]:
df[5:10] # include rows from 5to (10-1)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
5,1/1/2012 5:00,-1.4,-3.3,87,9,6.4,101.27,Fog
6,1/1/2012 6:00,-1.5,-3.1,89,7,6.4,101.29,Fog
7,1/1/2012 7:00,-1.4,-3.6,85,7,8.0,101.26,Fog
8,1/1/2012 8:00,-1.4,-3.6,85,9,8.0,101.23,Fog
9,1/1/2012 9:00,-1.3,-3.1,88,15,4.0,101.20,Fog

In [34]:
# df.shape - no of columns , no of rows

rows, cols = df.shape

print("rows: ", rows)
print("columns: ", cols)

rows:  8784
columns:  8

In [36]:
df.columns # give the columns

Index(['Date/Time', 'Temp_C', 'Dew Point Temp_C', 'Rel Hum_%',
       'Wind Speed_km/h', 'Visibility_km', 'Press_kPa', 'Weather'],
      dtype='object')

In [42]:
df.Temp_C # prints the temp column

0      -1.8
1      -1.8
2      -1.8
3      -1.5
4      -1.5
       ...
8779    0.1
8780    0.2
8781   -0.5
8782   -0.2
8783    0.0
Name: Temp_C, Length: 8784, dtype: float64

In [44]:
# or in other way

df["Date/Time"] # way to print "Date/Time" column

0          1/1/2012 0:00
1          1/1/2012 1:00
2          1/1/2012 2:00
3          1/1/2012 3:00
4          1/1/2012 4:00
              ...
8779    12/31/2012 19:00
8780    12/31/2012 20:00
8781    12/31/2012 21:00
8782    12/31/2012 22:00
8783    12/31/2012 23:00
Name: Date/Time, Length: 8784, dtype: object

In [46]:
type(df["Date/Time"]) # give the type of column

pandas.core.series.Series

In [50]:
df[["Date/Time", "Temp_C"]] # gives the list of columns

             Date/Time  Temp_C
0        1/1/2012 0:00    -1.8
1        1/1/2012 1:00    -1.8
2        1/1/2012 2:00    -1.8
3        1/1/2012 3:00    -1.5
4        1/1/2012 4:00    -1.5
...                ...     ...
8779  12/31/2012 19:00     0.1
8780  12/31/2012 20:00     0.2
8781  12/31/2012 21:00    -0.5
8782  12/31/2012 22:00    -0.2
8783  12/31/2012 23:00     0.0

[8784 rows x 2 columns]

In [53]:
print(df.Temp_C.mean())
print(df.Temp_C.min())
print(df.Temp_C.max())

8.798144353369764
-23.3
33.0

In [55]:
df.describe() # describes the dataset

,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623
std,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005
min,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000
25%,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000
50%,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000
75%,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000
max,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000

In [57]:
df[df.Temp_C > 5] # conditional statements

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
23,1/1/2012 23:00,5.3,2.0,79,30,25.0,99.31,Cloudy
24,1/2/2012 0:00,5.2,1.5,77,35,25.0,99.26,Rain Showers
1260,2/22/2012 12:00,5.2,-0.6,66,28,24.1,99.52,Mostly Cloudy
1261,2/22/2012 13:00,5.8,-1.1,61,22,24.1,99.40,Mostly Cloudy
1262,2/22/2012 14:00,6.1,-1.4,59,17,24.1,99.32,Mostly Cloudy
...,...,...,...,...,...,...,...,...
8139,12/5/2012 3:00,7.8,6.7,93,24,9.7,100.53,Rain
8140,12/5/2012 4:00,7.2,4.8,85,15,25.0,100.55,Mainly Clear
8141,12/5/2012 5:00,6.6,4.1,84,17,25.0,100.62,Cloudy
8142,12/5/2012 6:00,5.7,2.7,81,24,25.0,100.68,Mostly Cloudy
8143,12/5/2012 7:00,5.2,0.4,71,30,25.0,100.74,Mostly Cloudy

In [70]:
df.index

Index(['1/1/2012 0:00', '1/1/2012 1:00', '1/1/2012 2:00', '1/1/2012 3:00',
       '1/1/2012 4:00', '1/1/2012 5:00', '1/1/2012 6:00', '1/1/2012 7:00',
       '1/1/2012 8:00', '1/1/2012 9:00',
       ...
       '12/31/2012 14:00', '12/31/2012 15:00', '12/31/2012 16:00',
       '12/31/2012 17:00', '12/31/2012 18:00', '12/31/2012 19:00',
       '12/31/2012 20:00', '12/31/2012 21:00', '12/31/2012 22:00',
       '12/31/2012 23:00'],
      dtype='object', name='Date/Time', length=8784)

In [ ]:
df.set_index("Date/Time", inplace = True)

In [74]:
df.loc["1/1/2012 0:00"] # to locate the particular data

index                    0
Temp_C                -1.8
Dew Point Temp_C      -3.9
Rel Hum_%               86
Wind Speed_km/h          4
Visibility_km          8.0
Press_kPa           101.24
Weather                Fog
Name: 1/1/2012 0:00, dtype: object

In [75]:
df

,index,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
Date/Time,,,,,,,,
1/1/2012 0:00,0,-1.8,-3.9,86,4,8.0,101.24,Fog
1/1/2012 1:00,1,-1.8,-3.7,87,4,8.0,101.24,Fog
1/1/2012 2:00,2,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
1/1/2012 3:00,3,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
1/1/2012 4:00,4,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...
12/31/2012 19:00,8779,0.1,-2.7,81,30,9.7,100.13,Snow
12/31/2012 20:00,8780,0.2,-2.4,83,24,9.7,100.03,Snow
12/31/2012 21:00,8781,-0.5,-1.5,93,28,4.8,99.95,Snow
12/31/2012 22:00,8782,-0.2,-1.8,89,28,9.7,99.91,Snow
12/31/2012 23:00,8783,0.0,-2.1,86,30,11.3,99.89,Snow

In [76]:
df.reset_index(inplace = True)

In [77]:
df

,Date/Time,index,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,0,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,1,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,2,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,3,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,4,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...,...
8779,12/31/2012 19:00,8779,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,8780,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,8781,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,8782,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,8783,0.0,-2.1,86,30,11.3,99.89,Snow